services:
  _defaults:
    autowire: true
    autoconfigure: true

  # Controllers as services
  App\Controller\:
    resource: "../src/Controller/"
    public: true
    tags: ["controller.service_arguments"]

  # Other services
  App\:
    resource: "../src/*"
    exclude: "../src/{DependencyInjection,Entity,Tests,Kernel.php,Controller}"

  App\Services\Http\ArgumentResolver\JsonBodyNormalizableResolver:
    tags:
      - { name: controller.argument_value_resolver, priority: 100 }

  App\Services\Http\ArgumentResolver\QueryNormalizableResolver:
    tags:
      - { name: controller.argument_value_resolver, priority: 50 }

  App\Domain\Contact\ContactRepository: '@App\Services\Repository\Dbal\DBALContactRepository'

  App\Domain\Manager\ManagerRepository: '@App\Services\Repository\Dbal\DBALManagerRepository'

  App\Services\Http\EventSubscriber\ExceptionSubscriber:
    tags:
      - { name: kernel.event_subscriber }

  App\Services\Security\JwtTokenService:
    arguments:
      $secret: "%env(JWT_SECRET)%"
